<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buttons/instrucciones-selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,26}</string>
                <key>spriteSourceSize</key>
                <string>{126,26}</string>
                <key>textureRect</key>
                <string>{{700,927},{126,26}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>126 26 0 26 0 0 126 0</string>
                <key>verticesUV</key>
                <string>826 953 700 953 700 927 826 927</string>
            </dict>
            <key>buttons/instrucciones.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,26}</string>
                <key>spriteSourceSize</key>
                <string>{121,26}</string>
                <key>textureRect</key>
                <string>{{848,991},{121,26}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>121 26 0 26 0 0 121 0</string>
                <key>verticesUV</key>
                <string>969 1017 848 1017 848 991 969 991</string>
            </dict>
            <key>buttons/jugar-selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,25}</string>
                <key>spriteSourceSize</key>
                <string>{125,25}</string>
                <key>textureRect</key>
                <string>{{723,978},{125,25}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>125 25 0 25 0 0 125 0</string>
                <key>verticesUV</key>
                <string>848 1003 723 1003 723 978 848 978</string>
            </dict>
            <key>buttons/jugar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,25}</string>
                <key>spriteSourceSize</key>
                <string>{121,25}</string>
                <key>textureRect</key>
                <string>{{460,1009},{121,25}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>121 25 0 25 0 0 121 0</string>
                <key>verticesUV</key>
                <string>581 1034 460 1034 460 1009 581 1009</string>
            </dict>
            <key>buttons/salir-selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,25}</string>
                <key>spriteSourceSize</key>
                <string>{126,25}</string>
                <key>textureRect</key>
                <string>{{703,953},{126,25}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>126 25 0 25 0 0 126 0</string>
                <key>verticesUV</key>
                <string>829 978 703 978 703 953 829 953</string>
            </dict>
            <key>buttons/salir.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,25}</string>
                <key>spriteSourceSize</key>
                <string>{121,25}</string>
                <key>textureRect</key>
                <string>{{727,1003},{121,25}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>121 25 0 25 0 0 121 0</string>
                <key>verticesUV</key>
                <string>848 1028 727 1028 727 1003 848 1003</string>
            </dict>
            <key>game-background.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{493,347}</string>
                <key>spriteSourceSize</key>
                <string>{493,347}</string>
                <key>textureRect</key>
                <string>{{0,540},{493,347}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>493 347 0 347 0 0 493 0</string>
                <key>verticesUV</key>
                <string>493 887 0 887 0 540 493 540</string>
            </dict>
            <key>main-menu-background.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,540}</string>
                <key>spriteSourceSize</key>
                <string>{960,540}</string>
                <key>textureRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>960 540 0 540 0 0 960 0</string>
                <key>verticesUV</key>
                <string>960 540 0 540 0 0 960 0</string>
            </dict>
            <key>red-car.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,57}</string>
                <key>spriteSourceSize</key>
                <string>{127,57}</string>
                <key>textureRect</key>
                <string>{{507,952},{127,57}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>127 57 0 57 0 0 127 0</string>
                <key>verticesUV</key>
                <string>634 1009 507 1009 507 952 634 952</string>
            </dict>
            <key>rocks/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,134}</string>
                <key>spriteSourceSize</key>
                <string>{128,134}</string>
                <key>textureRect</key>
                <string>{{756,776},{128,134}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 6 7 5 0 1 4 2 3 4 1 2 4 5 1 5 6 0</string>
                <key>vertices</key>
                <string>128 37 70 125 37 134 0 134 0 47 46 10 95 0 128 0</string>
                <key>verticesUV</key>
                <string>884 813 826 901 793 910 756 910 756 823 802 786 851 776 884 776</string>
            </dict>
            <key>rocks/02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,154}</string>
                <key>spriteSourceSize</key>
                <string>{128,154}</string>
                <key>textureRect</key>
                <string>{{628,776},{128,154}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 7 8 0 6 8 1 2 3 3 4 5 5 0 1 1 3 5 0 5 6</string>
                <key>vertices</key>
                <string>73 12 128 79 128 133 61 154 22 154 22 86 0 42 0 0 49 0</string>
                <key>verticesUV</key>
                <string>701 788 756 855 756 909 689 930 650 930 650 862 628 818 628 776 677 776</string>
            </dict>
            <key>rocks/03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,176}</string>
                <key>spriteSourceSize</key>
                <string>{128,176}</string>
                <key>textureRect</key>
                <string>{{493,776},{128,176}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 9 10 5 3 4 6 7 8 6 8 2 2 3 5 6 2 5 2 8 9 1 2 10 0 1 10</string>
                <key>vertices</key>
                <string>128 20 128 45 117 81 124 143 102 176 63 176 19 158 0 129 0 105 59 0 76 0</string>
                <key>verticesUV</key>
                <string>621 796 621 821 610 857 617 919 595 952 556 952 512 934 493 905 493 881 552 776 569 776</string>
            </dict>
            <key>rocks/04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,124}</string>
                <key>spriteSourceSize</key>
                <string>{128,124}</string>
                <key>textureRect</key>
                <string>{{826,867},{128,124}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 7 8 5 6 8 3 5 8 3 4 5 1 2 3 0 1 3 0 3 8</string>
                <key>vertices</key>
                <string>105 14 128 85 128 124 43 124 28 118 0 82 0 34 34 0 45 0</string>
                <key>verticesUV</key>
                <string>931 881 954 952 954 991 869 991 854 985 826 949 826 901 860 867 871 867</string>
            </dict>
            <key>square-logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,236}</string>
                <key>spriteSourceSize</key>
                <string>{409,236}</string>
                <key>textureRect</key>
                <string>{{493,540},{409,236}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>409 236 0 236 0 0 409 0</string>
                <key>verticesUV</key>
                <string>902 776 493 776 493 540 902 540</string>
            </dict>
            <key>trees/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-0.5}</string>
                <key>spriteSize</key>
                <string>{124,127}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{0,887},{124,127}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 6 7 1 2 5 3 4 5 2 3 5 1 5 7 0 1 7</string>
                <key>vertices</key>
                <string>127 44 122 92 95 119 50 128 3 98 4 53 22 14 82 1</string>
                <key>verticesUV</key>
                <string>124 930 119 978 92 1005 47 1014 0 984 1 939 19 900 79 887</string>
            </dict>
            <key>trees/02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{124,124}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{123,887},{124,124}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 0 2 6 7 8 4 2 3 4 5 6 4 6 2 6 8 0 0 1 2 0 8 9</string>
                <key>vertices</key>
                <string>115 31 128 62 117 94 90 121 54 126 18 109 4 70 5 47 29 14 75 2</string>
                <key>verticesUV</key>
                <string>234 916 247 947 236 979 209 1006 173 1011 137 994 123 955 124 932 148 899 194 887</string>
            </dict>
            <key>trees/03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,1}</string>
                <key>spriteSize</key>
                <string>{121,124}</string>
                <key>spriteSourceSize</key>
                <string>{128,126}</string>
                <key>textureRect</key>
                <string>{{386,887},{121,124}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 6 7 2 5 7 2 4 5 2 3 4 0 1 2 0 2 7</string>
                <key>vertices</key>
                <string>119 34 123 99 80 120 53 124 22 107 2 65 17 14 74 0</string>
                <key>verticesUV</key>
                <string>503 921 507 986 464 1007 437 1011 406 994 386 952 401 901 458 887</string>
            </dict>
            <key>trees/04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3.5,-1.5}</string>
                <key>spriteSize</key>
                <string>{121,123}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{266,887},{121,123}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 5 6 3 4 5 5 0 1 5 1 3 3 1 2 0 6 7</string>
                <key>vertices</key>
                <string>87 6 118 37 121 92 86 120 51 127 22 109 0 63 22 4</string>
                <key>verticesUV</key>
                <string>353 889 384 920 387 975 352 1003 317 1010 288 992 266 946 288 887</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game-assets.png</string>
            <key>size</key>
            <string>{969,1034}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6b61ece6329986bbdb64aadf3836a09:396cadc8a59844be775b53143b8c32a6:2dc9081a33486ba0a4db11e41094e5ae$</string>
            <key>textureFileName</key>
            <string>game-assets.png</string>
        </dict>
    </dict>
</plist>
