<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buttons/instrucciones-selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,26}</string>
                <key>spriteSourceSize</key>
                <string>{126,26}</string>
                <key>textureRect</key>
                <string>{{749,1009},{126,26}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>126 26 0 26 0 0 126 0</string>
                <key>verticesUV</key>
                <string>875 1035 749 1035 749 1009 875 1009</string>
            </dict>
            <key>buttons/instrucciones.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,26}</string>
                <key>spriteSourceSize</key>
                <string>{121,26}</string>
                <key>textureRect</key>
                <string>{{177,1036},{121,26}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>121 26 0 26 0 0 121 0</string>
                <key>verticesUV</key>
                <string>298 1062 177 1062 177 1036 298 1036</string>
            </dict>
            <key>buttons/jugar-de-nuevo-selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,25}</string>
                <key>spriteSourceSize</key>
                <string>{126,25}</string>
                <key>textureRect</key>
                <string>{{0,1021},{126,25}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>126 25 0 25 0 0 126 0</string>
                <key>verticesUV</key>
                <string>126 1046 0 1046 0 1021 126 1021</string>
            </dict>
            <key>buttons/jugar-de-nuevo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,25}</string>
                <key>spriteSourceSize</key>
                <string>{126,25}</string>
                <key>textureRect</key>
                <string>{{298,1018},{126,25}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>126 25 0 25 0 0 126 0</string>
                <key>verticesUV</key>
                <string>424 1043 298 1043 298 1018 424 1018</string>
            </dict>
            <key>buttons/jugar-selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,25}</string>
                <key>spriteSourceSize</key>
                <string>{125,25}</string>
                <key>textureRect</key>
                <string>{{727,1035},{125,25}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>125 25 0 25 0 0 125 0</string>
                <key>verticesUV</key>
                <string>852 1060 727 1060 727 1035 852 1035</string>
            </dict>
            <key>buttons/jugar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,25}</string>
                <key>spriteSourceSize</key>
                <string>{121,25}</string>
                <key>textureRect</key>
                <string>{{0,1046},{121,25}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>121 25 0 25 0 0 121 0</string>
                <key>verticesUV</key>
                <string>121 1071 0 1071 0 1046 121 1046</string>
            </dict>
            <key>buttons/salir-selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,25}</string>
                <key>spriteSourceSize</key>
                <string>{126,25}</string>
                <key>textureRect</key>
                <string>{{172,1011},{126,25}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>126 25 0 25 0 0 126 0</string>
                <key>verticesUV</key>
                <string>298 1036 172 1036 172 1011 298 1011</string>
            </dict>
            <key>buttons/salir.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,25}</string>
                <key>spriteSourceSize</key>
                <string>{121,25}</string>
                <key>textureRect</key>
                <string>{{298,1043},{121,25}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>121 25 0 25 0 0 121 0</string>
                <key>verticesUV</key>
                <string>419 1068 298 1068 298 1043 419 1043</string>
            </dict>
            <key>game-background.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{493,347}</string>
                <key>spriteSourceSize</key>
                <string>{493,347}</string>
                <key>textureRect</key>
                <string>{{0,540},{493,347}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>493 347 0 347 0 0 493 0</string>
                <key>verticesUV</key>
                <string>493 887 0 887 0 540 493 540</string>
            </dict>
            <key>main-menu-background.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,540}</string>
                <key>spriteSourceSize</key>
                <string>{960,540}</string>
                <key>textureRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>960 540 0 540 0 0 960 0</string>
                <key>verticesUV</key>
                <string>960 540 0 540 0 0 960 0</string>
            </dict>
            <key>pause-overlay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,150}</string>
                <key>spriteSourceSize</key>
                <string>{200,150}</string>
                <key>textureRect</key>
                <string>{{493,776},{200,150}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>200 150 0 150 0 0 200 0</string>
                <key>verticesUV</key>
                <string>693 926 493 926 493 776 693 776</string>
            </dict>
            <key>red-car.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,57}</string>
                <key>spriteSourceSize</key>
                <string>{127,57}</string>
                <key>textureRect</key>
                <string>{{749,952},{127,57}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>127 57 0 57 0 0 127 0</string>
                <key>verticesUV</key>
                <string>876 1009 749 1009 749 952 876 952</string>
            </dict>
            <key>rocks/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,134}</string>
                <key>spriteSourceSize</key>
                <string>{128,134}</string>
                <key>textureRect</key>
                <string>{{0,887},{128,134}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 6 7 5 0 1 4 2 3 4 1 2 4 5 1 5 6 0</string>
                <key>vertices</key>
                <string>128 37 70 125 37 134 0 134 0 47 46 10 95 0 128 0</string>
                <key>verticesUV</key>
                <string>128 924 70 1012 37 1021 0 1021 0 934 46 897 95 887 128 887</string>
            </dict>
            <key>rocks/02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,154}</string>
                <key>spriteSourceSize</key>
                <string>{128,154}</string>
                <key>textureRect</key>
                <string>{{828,776},{128,154}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 7 8 0 6 8 1 2 3 3 4 5 5 0 1 1 3 5 0 5 6</string>
                <key>vertices</key>
                <string>73 12 128 79 128 133 61 154 22 154 22 86 0 42 0 0 49 0</string>
                <key>verticesUV</key>
                <string>901 788 956 855 956 909 889 930 850 930 850 862 828 818 828 776 877 776</string>
            </dict>
            <key>rocks/03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,176}</string>
                <key>spriteSourceSize</key>
                <string>{128,176}</string>
                <key>textureRect</key>
                <string>{{693,776},{128,176}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 9 10 5 3 4 6 7 8 6 8 2 2 3 5 6 2 5 2 8 9 1 2 10 0 1 10</string>
                <key>vertices</key>
                <string>128 20 128 45 117 81 124 143 102 176 63 176 19 158 0 129 0 105 59 0 76 0</string>
                <key>verticesUV</key>
                <string>821 796 821 821 810 857 817 919 795 952 756 952 712 934 693 905 693 881 752 776 769 776</string>
            </dict>
            <key>rocks/04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,124}</string>
                <key>spriteSourceSize</key>
                <string>{128,124}</string>
                <key>textureRect</key>
                <string>{{128,887},{128,124}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 7 8 5 6 8 3 5 8 3 4 5 1 2 3 0 1 3 0 3 8</string>
                <key>vertices</key>
                <string>105 14 128 85 128 124 43 124 28 118 0 82 0 34 34 0 45 0</string>
                <key>verticesUV</key>
                <string>233 901 256 972 256 1011 171 1011 156 1005 128 969 128 921 162 887 173 887</string>
            </dict>
            <key>square-logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,236}</string>
                <key>spriteSourceSize</key>
                <string>{409,236}</string>
                <key>textureRect</key>
                <string>{{493,540},{409,236}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>409 236 0 236 0 0 409 0</string>
                <key>verticesUV</key>
                <string>902 776 493 776 493 540 902 540</string>
            </dict>
            <key>trees/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-0.5}</string>
                <key>spriteSize</key>
                <string>{124,127}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{256,887},{124,127}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 6 7 1 2 5 3 4 5 2 3 5 1 5 7 0 1 7</string>
                <key>vertices</key>
                <string>127 44 122 92 95 119 50 128 3 98 4 53 22 14 82 1</string>
                <key>verticesUV</key>
                <string>380 930 375 978 348 1005 303 1014 256 984 257 939 275 900 335 887</string>
            </dict>
            <key>trees/02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{124,124}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{382,897},{124,124}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 0 2 6 7 8 4 2 3 4 5 6 4 6 2 6 8 0 0 1 2 0 8 9</string>
                <key>vertices</key>
                <string>115 31 128 62 117 94 90 121 54 126 18 109 4 70 5 47 29 14 75 2</string>
                <key>verticesUV</key>
                <string>493 926 506 957 495 989 468 1016 432 1021 396 1004 382 965 383 942 407 909 453 897</string>
            </dict>
            <key>trees/03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,1}</string>
                <key>spriteSize</key>
                <string>{121,124}</string>
                <key>spriteSourceSize</key>
                <string>{128,126}</string>
                <key>textureRect</key>
                <string>{{628,925},{121,124}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 6 7 2 5 7 2 4 5 2 3 4 0 1 2 0 2 7</string>
                <key>vertices</key>
                <string>119 34 123 99 80 120 53 124 22 107 2 65 17 14 74 0</string>
                <key>verticesUV</key>
                <string>745 959 749 1024 706 1045 679 1049 648 1032 628 990 643 939 700 925</string>
            </dict>
            <key>trees/04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3.5,-1.5}</string>
                <key>spriteSize</key>
                <string>{121,123}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{497,926},{121,123}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 5 6 3 4 5 5 0 1 5 1 3 3 1 2 0 6 7</string>
                <key>vertices</key>
                <string>87 6 118 37 121 92 86 120 51 127 22 109 0 63 22 4</string>
                <key>verticesUV</key>
                <string>584 928 615 959 618 1014 583 1042 548 1049 519 1031 497 985 519 926</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game-assets.png</string>
            <key>size</key>
            <string>{960,1071}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41d1ac96aaf11b8eef4509b8cfbbc203:a59ca3f8958138fc74e622f85efede10:2dc9081a33486ba0a4db11e41094e5ae$</string>
            <key>textureFileName</key>
            <string>game-assets.png</string>
        </dict>
    </dict>
</plist>
