<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buttons/instrucciones-selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,51}</string>
                <key>spriteSourceSize</key>
                <string>{252,51}</string>
                <key>textureRect</key>
                <string>{{1026,1966},{252,51}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>252 51 0 51 0 0 252 0</string>
                <key>verticesUV</key>
                <string>1278 2017 1026 2017 1026 1966 1278 1966</string>
            </dict>
            <key>buttons/instrucciones.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,51}</string>
                <key>spriteSourceSize</key>
                <string>{241,51}</string>
                <key>textureRect</key>
                <string>{{1531,1909},{241,51}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>241 51 0 51 0 0 241 0</string>
                <key>verticesUV</key>
                <string>1772 1960 1531 1960 1531 1909 1772 1909</string>
            </dict>
            <key>buttons/jugar-selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,50}</string>
                <key>spriteSourceSize</key>
                <string>{249,50}</string>
                <key>textureRect</key>
                <string>{{1279,1952},{249,50}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>249 50 0 50 0 0 249 0</string>
                <key>verticesUV</key>
                <string>1528 2002 1279 2002 1279 1952 1528 1952</string>
            </dict>
            <key>buttons/jugar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,49}</string>
                <key>spriteSourceSize</key>
                <string>{242,49}</string>
                <key>textureRect</key>
                <string>{{1803,1312},{242,49}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>242 49 0 49 0 0 242 0</string>
                <key>verticesUV</key>
                <string>2045 1361 1803 1361 1803 1312 2045 1312</string>
            </dict>
            <key>buttons/salir-selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,50}</string>
                <key>spriteSourceSize</key>
                <string>{252,50}</string>
                <key>textureRect</key>
                <string>{{1279,1902},{252,50}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>252 50 0 50 0 0 252 0</string>
                <key>verticesUV</key>
                <string>1531 1952 1279 1952 1279 1902 1531 1902</string>
            </dict>
            <key>buttons/salir.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,50}</string>
                <key>spriteSourceSize</key>
                <string>{241,50}</string>
                <key>textureRect</key>
                <string>{{1528,1960},{241,50}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>241 50 0 50 0 0 241 0</string>
                <key>verticesUV</key>
                <string>1769 2010 1528 2010 1528 1960 1769 1960</string>
            </dict>
            <key>game-background.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{985,693}</string>
                <key>spriteSourceSize</key>
                <string>{985,693}</string>
                <key>textureRect</key>
                <string>{{0,1080},{985,693}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>985 693 0 693 0 0 985 0</string>
                <key>verticesUV</key>
                <string>985 1773 0 1773 0 1080 985 1080</string>
            </dict>
            <key>main-menu-background.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,1080}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{0,0},{1920,1080}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>1920 1080 0 1080 0 0 1920 0</string>
                <key>verticesUV</key>
                <string>1920 1080 0 1080 0 0 1920 0</string>
            </dict>
            <key>pause-overlay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,300}</string>
                <key>spriteSourceSize</key>
                <string>{400,300}</string>
                <key>textureRect</key>
                <string>{{985,1552},{400,300}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>400 300 0 300 0 0 400 0</string>
                <key>verticesUV</key>
                <string>1385 1852 985 1852 985 1552 1385 1552</string>
            </dict>
            <key>red-car.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,114}</string>
                <key>spriteSourceSize</key>
                <string>{253,114}</string>
                <key>textureRect</key>
                <string>{{1026,1852},{253,114}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 5 6 3 4 5 2 3 5 1 2 6 0 1 6</string>
                <key>vertices</key>
                <string>253 14 253 105 167 114 0 114 0 3 154 0 194 0</string>
                <key>verticesUV</key>
                <string>1279 1866 1279 1957 1193 1966 1026 1966 1026 1855 1180 1852 1220 1852</string>
            </dict>
            <key>rocks/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,268}</string>
                <key>spriteSourceSize</key>
                <string>{256,268}</string>
                <key>textureRect</key>
                <string>{{0,1773},{256,268}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 2 3 13 14 15 11 12 13 10 5 6 10 11 5 7 8 9 7 9 10 10 6 7 11 13 4 11 4 5 13 3 4 13 15 3 0 3 15 0 1 2 0 15 16</string>
                <key>vertices</key>
                <string>238 18 256 52 256 66 237 105 163 171 143 227 112 257 64 268 49 268 20 247 0 178 0 175 11 80 83 52 83 28 195 0 207 0</string>
                <key>verticesUV</key>
                <string>238 1791 256 1825 256 1839 237 1878 163 1944 143 2000 112 2030 64 2041 49 2041 20 2020 0 1951 0 1948 11 1853 83 1825 83 1801 195 1773 207 1773</string>
            </dict>
            <key>rocks/02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,307}</string>
                <key>spriteSourceSize</key>
                <string>{256,307}</string>
                <key>textureRect</key>
                <string>{{1642,1552},{256,307}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>12 15 16 12 14 15 12 13 14 0 12 16 9 6 7 9 10 6 6 2 4 7 8 9 2 6 10 2 10 11 6 4 5 2 3 4 11 0 1 11 1 2 0 11 12</string>
                <key>vertices</key>
                <string>140 22 191 79 202 117 248 142 256 166 251 265 138 288 119 307 46 307 46 264 55 216 44 166 0 77 0 27 27 6 53 0 89 0</string>
                <key>verticesUV</key>
                <string>1782 1574 1833 1631 1844 1669 1890 1694 1898 1718 1893 1817 1780 1840 1761 1859 1688 1859 1688 1816 1697 1768 1686 1718 1642 1629 1642 1579 1669 1558 1695 1552 1731 1552</string>
            </dict>
            <key>rocks/03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0.5}</string>
                <key>spriteSize</key>
                <string>{256,351}</string>
                <key>spriteSourceSize</key>
                <string>{256,352}</string>
                <key>textureRect</key>
                <string>{{1385,1552},{256,351}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 17 18 16 0 15 11 14 15 9 7 8 13 11 12 11 13 14 11 15 5 11 5 10 5 7 9 10 5 9 5 6 7 4 5 15 0 4 15 4 0 1 4 2 3 4 1 2 16 17 0</string>
                <key>vertices</key>
                <string>189 27 229 36 256 78 256 88 238 117 225 209 245 229 245 290 181 351 151 351 92 337 26 293 0 253 0 247 14 180 57 134 114 4 140 0 159 0</string>
                <key>verticesUV</key>
                <string>1574 1579 1614 1588 1641 1630 1641 1640 1623 1669 1610 1761 1630 1781 1630 1842 1566 1903 1536 1903 1477 1889 1411 1845 1385 1805 1385 1799 1399 1732 1442 1686 1499 1556 1525 1552 1544 1552</string>
            </dict>
            <key>rocks/04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-0.5,0}</string>
                <key>spriteSize</key>
                <string>{255,248}</string>
                <key>spriteSourceSize</key>
                <string>{256,248}</string>
                <key>textureRect</key>
                <string>{{771,1773},{255,248}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>13 14 15 12 13 15 1 12 15 11 9 10 11 12 9 1 5 6 8 9 6 8 6 7 1 6 9 5 2 4 5 1 2 4 2 3 1 9 12 0 1 15</string>
                <key>vertices</key>
                <string>206 31 214 82 255 171 255 223 207 240 151 248 129 248 69 246 39 207 29 169 0 162 0 157 13 113 10 80 68 0 81 0</string>
                <key>verticesUV</key>
                <string>977 1804 985 1855 1026 1944 1026 1996 978 2013 922 2021 900 2021 840 2019 810 1980 800 1942 771 1935 771 1930 784 1886 781 1853 839 1773 852 1773</string>
            </dict>
            <key>square-logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{818,472}</string>
                <key>spriteSourceSize</key>
                <string>{818,472}</string>
                <key>textureRect</key>
                <string>{{985,1080},{818,472}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>818 472 0 472 0 0 818 0</string>
                <key>verticesUV</key>
                <string>1803 1552 985 1552 985 1080 1803 1080</string>
            </dict>
            <key>trees/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1.5}</string>
                <key>spriteSize</key>
                <string>{242,241}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{235,1773},{242,241}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 7 8 5 6 7 0 3 5 3 4 5 3 0 1 3 1 2 0 5 8</string>
                <key>vertices</key>
                <string>165 12 247 86 247 184 161 247 52 229 14 158 5 119 43 36 130 6</string>
                <key>verticesUV</key>
                <string>395 1779 477 1853 477 1951 391 2014 282 1996 244 1925 235 1886 273 1803 360 1773</string>
            </dict>
            <key>trees/02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{232,234}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1803,1078},{232,234}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>7 9 10 7 8 9 5 7 10 5 6 7 4 5 10 1 3 4 1 2 3 1 4 10 0 1 10</string>
                <key>vertices</key>
                <string>181 23 236 78 242 176 180 238 138 248 81 237 40 213 11 155 10 91 61 28 138 14</string>
                <key>verticesUV</key>
                <string>1974 1087 2029 1142 2035 1240 1973 1302 1931 1312 1874 1301 1833 1277 1804 1219 1803 1155 1854 1092 1931 1078</string>
            </dict>
            <key>trees/03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3.5,-2.5}</string>
                <key>spriteSize</key>
                <string>{235,238}</string>
                <key>spriteSourceSize</key>
                <string>{256,251}</string>
                <key>textureRect</key>
                <string>{{477,1773},{235,238}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 4 9 8 4 6 6 7 8 8 9 4 4 5 6 0 3 4 3 0 1 3 1 2 0 9 10</string>
                <key>vertices</key>
                <string>160 11 236 67 242 171 211 209 166 235 100 247 43 206 7 129 24 72 61 29 105 9</string>
                <key>verticesUV</key>
                <string>630 1775 706 1831 712 1935 681 1973 636 1999 570 2011 513 1970 477 1893 494 1836 531 1793 575 1773</string>
            </dict>
            <key>trees/04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7.5,0.5}</string>
                <key>spriteSize</key>
                <string>{239,229}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1789,1819},{239,229}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 8 9 6 4 5 6 7 4 7 8 4 2 3 4 0 2 4 0 1 2 0 4 9</string>
                <key>vertices</key>
                <string>199 40 235 76 240 179 171 242 107 241 50 223 1 121 41 40 96 13 145 13</string>
                <key>verticesUV</key>
                <string>1987 1846 2023 1882 2028 1985 1959 2048 1895 2047 1838 2029 1789 1927 1829 1846 1884 1819 1933 1819</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game-assets.png</string>
            <key>size</key>
            <string>{2045,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81379df37dee29085638f66d181c781b:8515a0b092f8e5f03874b8708b8d5cff:2dc9081a33486ba0a4db11e41094e5ae$</string>
            <key>textureFileName</key>
            <string>game-assets.png</string>
        </dict>
    </dict>
</plist>
